#include <windows.h>
#include "resource.h"

STRINGTABLE
{
	IDS_CTRLALTDEL       "Press Ctrl-Alt-Del to unlock"
	IDS_SELECTUSER       "Select a user"
	IDS_SELECTSIGNINOPT  "Select a sign-in option for %s or hit ESC to switch users"
	IDS_ENTERCREDS       "Enter credentials for %s or hit ESC to switch users/sign-in methods"
	IDS_SELECTOPT        "Select an option or hit ESC to go back"
	IDS_USER             "User"
	IDS_OK               "OK"
	IDS_CANCEL           "Cancel"
	IDS_YES              "Yes"
	IDS_NO               "No"
	IDS_LOCK             "Lock"
	IDS_SIGNOUT          "Sign out"
	IDS_CHANGEPASSWD     "Change a password"
	IDS_TASKMGR          "Task Manager"
	IDS_SWITCHUSER       "Switch User"
	IDS_MANAGEACCOUNT    "Manage your account"
	IDS_COMBOBOXFORMAT   "%1!s! %2!s!"
	IDS_X                "X"
	IDS_UNDERSCORE       "_"
	IDS_WINSECURITY      "Windows Security"
	IDS_ENTERNEWCREDS    "Enter new credentials for %s or hit ESC to cancel"
	IDS_SIGNIN           "Sign in"
	IDS_SELECTSIGNINOPT2 "Select a sign-in option for %s"
}

#include <ntverp.h>
#undef VER_COMPANYNAME_STR
#undef VER_PRODUCTNAME_STR
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_COMPANYNAME_STR             "Microsoft Corporation"
#define VER_PRODUCTNAME_STR             "Microsoft\xAE Windows\xAE Operating System"
#define VER_FILEDESCRIPTION_STR         "Console Logon User Experience"
#define VER_INTERNALNAME_STR            "ConsoleLogon.dll"
#define VER_ORIGINALFILENAME_STR        "ConsoleLogon.dll"
#include <common.ver>